.about {
    padding: 0 20px;
    overflow: hidden;

    .about-section {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        place-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;

        .name {
            font-size: 34px;
            font-weight: 500;
        }


    }

    @media only screen and (min-device-width : 1200px) {
        max-width: 1200px;
        margin: 0 auto;
    }
}
