@if (ViewContext.ModelState.IsValid == false)
{
<div>
    @foreach (var summary in Html.ModelValidationSummary())
    {
        <div class="alert">
            <p>@summary</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">
                    close
                </i>
            </button>
        </div>
    }
</div>
}

<script>
    var alerts = document.getElementsByClassName("alert");
    for (var i = 0; i < alerts.length; i++) {
        var alertEl = alerts.item(i);
        alertEl.alert();
    }
</script>