.about {
    padding: 0 20px;
    overflow: hidden;

    .about-section {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        place-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;

        .name {
            font-size: 34px;
            font-weight: 500;
        }


    }

    @media only screen and (min-device-width : 1200px) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.alert {
    display: flex;
    background: #ffd9dc;
    flex-direction: row;
    place-content: flex-start space-between;
    align-items: center;
    justify-content: flex-start space-between;
    color: #721c24;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;

    p, span {
        margin: 0;
    }

    .close {
        margin-left: 20px;
        border: none;
        cursor: pointer;
        background: none;
        color: #721c24;
        padding: 0;
        &.error {
            color: #721c24;
        }

        i {
            background: #721c24;
            border-radius: 12px;
            font-size: 15px;
            color: white;
            padding: 3px;
        }
    }
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;

    &.primary {
        background-color: #177bcc;
        color: white;

        &:hover {
            transition: 0.5s;
            background-color: #0f5994;
        }
    }
}

.card {

}

.elevate-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.elevate-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevate-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.elevate-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevate-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.input-form-field {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 500;
    }

    input {
        margin-top: 5px;
        flex: 1 1 auto;
        border-style: solid;
        border-width: 0.05rem;
        border-color: #b7b7b7;
        font-size: 15px;
        padding: 10px;
        transition: 0.2s;

        &:focus {
            transition: 0.2s;
        }
    }
}

.row-start-center {
    display: flex;
    flex-direction: row;
    place-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column-start-stretch {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-start;
    justify-content: stretch flex-start;
    align-items: stretch;
    max-height: 100%;
}
.footer {
    background: white;
    height: 48px;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #afafaf; 
    
    h1, h2, h3, h4 {
        margin: 0;
    }

}

.header {
    background: white;
    height: 48px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: row;
    place-content: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;

    h1, h2, h3, h4 {
        margin: 0;
    }

    .spacer {
        flex: 1 1 auto;
    }

    a:-webkit-any-link {
        color: #222222;
        outline: none;
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }

    .header-link {
        font-size: 15px;
        margin: 0 10px;
        font-weight: 500;
    }
}

.home {
    padding: 0 20px;
    overflow: hidden;
    .user-section {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        place-content: center;
        justify-content: center;
        align-items: center;

        .name {
            font-size: 34px;
            font-weight: 500;
        }
    }

    .chat-section {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        place-content: flex-start space-between;
        justify-content: flex-start space-between;
        align-items: center;

        img {
            height: 500px;
        }

        .text {
            margin-right: 30px;
            max-width: 400px;
        }

        a {
            display: block;

            span {
                margin-right: 10px;
            }
        }
        /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            flex-direction: column;

            img {
                width: 300px;
                object-fit: contain;
            }
        }
    }

    @media only screen and (min-device-width : 1200px) {
        max-width: 1200px;
        margin: auto;
    }
}

.login-screen {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;

    .login-validation {
        display: flex;
        width: 300px;
        place-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        align-items: stretch;
        margin: 10px 0;
    }

    .login-card {
        width: 300px;
        padding: 20px;
        box-sizing: border-box;

        .input-form-field {
            margin: 5px 0;
        }

        button {
            margin-top: 30px;
        }
    }


    .create-link {
        text-align: center;
    }
}

.logout-screen {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;

    .logout-card {
        width: 300px;
        padding: 20px;
        box-sizing: border-box;

        .input-form-field {
            margin: 5px 0;
        }

        button {
            margin-top: 20px;
        }
    }

    .logout-form {
        text-align: center;
        display: flex;
        flex-direction: column;
        place-content: center;
        align-content: center;
        justify-content: center;
        align-items: stretch;
    }
}

html, body {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


.main-container {
    height: 100%;
    .content {
        min-height: calc(100% - 128px);
        display: flex;
    }
}

a {
    color: #44abff;
    text-decoration: none;
}