.alert {
    display: flex;
    background: #ffd9dc;
    flex-direction: row;
    place-content: flex-start space-between;
    align-items: center;
    justify-content: flex-start space-between;
    color: #721c24;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;

    p, span {
        margin: 0;
    }

    .close {
        margin-left: 20px;
        border: none;
        cursor: pointer;
        background: none;
        color: #721c24;
        padding: 0;
        &.error {
            color: #721c24;
        }

        i {
            background: #721c24;
            border-radius: 12px;
            font-size: 15px;
            color: white;
            padding: 3px;
        }
    }
}
