@{
    ViewData["Title"] = "About";
}

<div class="about">
    <section class="about-section">
        <h1>About Mad Titan</h1>
        <p>Mad Titan is built as my personal playground for testing out new Technologies, Feel free to use them. I've linked the public repository below.</p>

        <a href="https://github.com/madtitanjs">
            <div class="row-start-center">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="48" style="margin-right: 10px" /> <span> Mad Titan Repository</span>
            </div>
        </a>

        <p>
            Mad Titan Accounts is an <b>OpenID Connect</b> Server implementing
            <a href="https://github.com/identityserver/indentityserver4">Identity Server 4</a>.
            As such, it can be used for external logins through browser / device using the OpenID protocol
        </p>

        <h1 style="margin-top: 50px">About me</h1>
        <p>
            My name is Daryl Clarino. I am a full time developer working with UWP, Android, iOS, .NET and Angular technologies.
            Though my preference is on the Angular and .NET stacks. I am a licensed Electronics Engineer that has wandered and found a home
            the world of information technology.
        </p>

        <p>
            I have worked on a variety of software and hardware solutions. Primarily with C#, ASP.NET, ASP.NET Core, Angular, MSSQL, PGSQL
            and on the hardware side are ESP8266 and Arduino.
        </p>

        <p>
            I have worked with both <b>AWS</b> and <b>Azure</b>, but have more experience with the latter such as creating the build pipelines / release pipelines
            for CI/CD, setting up App Services for .NET Core and Angular projects among other things. On <b>AWS</b> I have experience with their Lambda service, and have a guide to which can be found
            <a href="#todo">here</a>(to be updated).
        </p>



        <h1 style="margin-top: 50px">Contact</h1>
        <p>
            Feel free contact me at <a href="mailto:clarinojd@gmail.com">clarinojd@gmail.com</a>
        </p>
    </section>
</div>
